#!name=g3zhwv58pbh8
#!desc=5ac29e187f
#!openUrl=https://g3zhwv58pbh8.invalid/report
#[rewrite_local]
^https:\/\/g3zhwv58pbh8\.invalid\/(?:start|start-confirm|report|finish|export|export\.csv|export-current\.csv|export-last\.csv|export-history\.csv|64qaldtwwuc8)(?:\?|$) url script-echo-response https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/main/5ac29e187f.js
^https:\/\/api-sams\.walmartmobile\.cn\/api\/v1\/sams\/goods-portal\/spu\/queryByStoreInfo(?:\?|$) url script-response-body https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/main/bd4f91c6a7.js
#[mitm]
hostname=api-sams.walmartmobile.cn
