#!name=g3zhwv58pbh8
#!desc=5ac29e187f
#!openUrl=https://g3zhwv58pbh8.invalid/report
#[rewrite_local]
^https:\/\/g3zhwv58pbh8\.invalid\/(?:start|report|finish|export\.csv|64qaldtwwuc8)(?:\?|$) url script-echo-response https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/a6217e1492b009ef589aaed8a37b2e4e777a2b32/5ac29e187f.js
^https:\/\/api-sams\.walmartmobile\.cn\/api\/v1\/sams\/goods-portal\/spu\/queryByStoreInfo(?:\?|$) url script-response-body https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/a6217e1492b009ef589aaed8a37b2e4e777a2b32/bd4f91c6a7.js
#[mitm]
hostname=api-sams.walmartmobile.cn
