#!name=g3zhwv58pbh8
#!desc=64qaldtwwuc8
#!openUrl=http://127.0.0.1:9999/g3zhwv58pbh8/
#[task_local]
event-interaction https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/main/ae5991ddea.js, tag=g3zhwv58pbh8, img-url=chart.bar.doc.horizontal.fill, enabled=true
#[rewrite_local]
^https:\/\/api-sams\.walmartmobile\.cn\/api\/v1\/sams\/goods-portal\/spu\/queryByStoreInfo(?:\?|$) url script-response-body https://raw.githubusercontent.com/halgfdc/g3zhwv58pbh8/main/e228ddf1.js#quiet-seconds=30&notice-items=4
#[mitm]
hostname=api-sams.walmartmobile.cn
